@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kristofer is the best rapper alive</h1>
    <p>Find out more about him her <a href="https://github.com/Krxstofer">Kristofer Norman's Repos</a>.</p>

</div>

<div class="text-center">
    <h1 class="display-4">Kristofer is the best rapper alive</h1>
    <p>Find out more about him her <a href="https://github.com/Krxstofer">Kristofer Norman's Repos</a>.</p>

</div>